@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #e0e0e0;
}

@layer utilities {
    .glass-panel {
        @apply bg-surface/80 backdrop-blur-md border border-white/10 shadow-xl;
    }
}
